.item-container {
  width: 100%;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

.item-remove {
  width: 10%;
  color: red;
}

.item-text {
  width: 80%;
}

.checked {
  color: grey;
  text-decoration-line: line-through;
}

.item-check {
  width: 10%;
  color: cadetblue;
  text-align: end;
}
