.item-container {
  width: inherit;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(202, 209, 209);
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

.item-container:hover {
  background-color: white;
}

.item-container:hover .item-remove,
.item-container:hover .item-check {
  opacity: 1;
}

.item-remove {
  display: inline-flex;
  opacity: 0;
  color: red;
  margin-right: 1em;
}

.item-text {
  flex: 1;
  word-break: break-all;
}

.checked {
  color: grey;
  text-decoration-line: line-through;
}

.item-check {
  display: inline-flex;
  opacity: 0;
  color: cadetblue;
  margin-left: 1em;
}
